---
import BaseLayout from './BaseLayout.astro'
import {formatDate} from '../utils.ts'
const {content} = Astro.props
---
<BaseLayout title={content.title}>
    <article>
        <div class="metadata my-4">
            <div class="text-4xl font-extrabold">{content.title}</div>
            <div class="text-xl italic">Published {formatDate(content.publishDate)}</div>
        </div>
        <div class="blog-content">
            <slot />
        </div>
    </article>
</BaseLayout>

<style lang="scss" is:global>
.blog-content {
    h1 { @apply text-3xl font-bold my-4; }
    h2 { @apply text-2xl font-bold my-4; }
    h3 { @apply text-xl font-bold my-4; }
    p { @apply text-base my-4; }
    figure {
        @apply p-4 bg-gray-200 mx-auto max-w-max text-center;
        img { @apply max-w-2xl; }
        figcaption { @apply mt-2; }
    }
    a { @apply underline; }
    ol { @apply list-decimal list-inside; }
    ul { @apply list-disc list-inside; }
    blockquote { @apply ml-4 bg-yellow-100 px-1 my-2; }
    pre {
        @apply bg-gray-100 p-4;
    }
}
</style>
