---
import BaseLayout from './BaseLayout.astro'
import {formatDate} from '../utils.ts'
const {content} = Astro.props
---
<BaseLayout title={content.title}>
    <article>
        <div class="metadata my-4">
            <div class="font-extrabold">{content.title}</div>
            <div class="italic">{formatDate(content.publishDate)}</div>
        </div>
        <div class="content">
            <slot />
        </div>
    </article>
</BaseLayout>
